@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.footer {
  height: 60vh;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  /* margin-top: 8rem; */
}

.first_row,
.second_row,
.third_row,
.forth_row,
.fifth_row {
  width: 20%;
  height: 60vh;
  /* border: 1px solid black; */
}

.first_row > h1{
    margin-top: 5rem;
    color: white;
}

.fir_row > ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 8rem 2rem 0 0;
    font-size: 30px;
    color: grey;
}

.second_row > ul,
.third_row > ul,
.forth_row > ul,
.fifth_row > ul {
  list-style: none;
  font-size: 20px;
  padding: 3rem 0 0 3rem;
  line-height: 50px;
  text-align: justify;
}

ul > .sr_list,
ul > .tr_list,
ul > .fr_list {
  font-size: 23px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.fifth_row > h1 {
  margin: 4rem 0 0 0;
  font-size: 30px;
}

.fifth_row > button {
  height: 3.5rem;
  width: 15rem;
  margin: 3rem 0 0 0;
  font-size: 20px;
  background-color: rgb(2, 2, 25);
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(47, 45, 45);
}

