/* style={{ padding: "6rem 0 0 5rem" }} */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");

.header {
  height: 100vh;
  width: 100%;
  /* border: 1px solid black; */
  background-image: url("/public/africa.jpg");
  background-position: center;
  background-size: cover;
  /* padding-top: 9rem; */
  margin-bottom: 5rem;
}

.header_text {
  background-color: rgba(0, 0, 0, 0.352);
  height: 100vh;
  width: 100%;
  padding-top: 12rem;
}

.header_text > div {
  width: 58rem;
  margin: 0 auto;
  height: 58vh;
  padding: 50px 0 0 0;
  /* align-items: center; */
}

.header_text > div > h1 {
  color: white;
  font-size: 60px;
  /* font-family: "Heebo", sans-serif; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* line-height: 20px; */
}

.header_text > div > h3 {
  color: white;
  font-size: 32px;
  margin: -2rem 0 0 0;
}

.header_text > div > button {
  margin: 2rem 0 0 0;
  font-size: 18px;
  background-color: #fbd74d;
  /* padding: 5px 35px; */
  border-radius: 10px;
  width: 17rem;
  height: 3rem;
  box-shadow: none;
  cursor: pointer;
  border: none;
}

.header_text > div > button:hover {
  background-color: black;
  color: white;
}
